<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Resume - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Rohit Grover</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/assets/img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li> -->
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Rohit
          <span class="text-primary">Grover</span>
        </h1>
        <div class="subheading mb-5">352/332 Street No 9 · Rajendra Nagar · Dehradun, 248001 · (+91) 9634269495 ·
          <a href="mailto:rohitgrover1990@gmail.com">rohitgrover1990@gmail.com</a>
        </div>
        <p class="lead mb-5">Senior Software Engineer with an experience of 6+ years in project execution, development
          and maintenance of web based applications.</p>
        <p class="lead mb-5">Experience in developing web application using Asp.net mvc, Asp.net Core 2+, Angular 5 and upper vesions,
          Web Api, SignalR, Sql Server, Entity Framework, DevOps, CI/CD, GitLab, GitHub </p>
        <p class="lead mb-5">Worked on various Enterprise, Finance and Social network domains </p>
        <p class="lead mb-5">Interaction with the Business, Development and Testing teams to obtain the correct
          solutions with successful implementation</p>
        <p class="lead mb-5">Managed the execution of client projects in a timely manner</p>

        <div class="social-icons">
          <a href="https://www.linkedin.com/in/rohit-grover-bb092b75">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/rohitgrover2702">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/rohitgrover1990">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Software Associate</h3>
            <div class="subheading mb-3">Smartdata Enterprises India Ltd</div>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
              going forward, a new normal that has evolved from generation X is on the runway heading towards a
              streamlined cloud solution. User generated content in real-time will have multiple touchpoints for
              offshoring.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2015 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Software Consultant</h3>
            <div class="subheading mb-3">Cynoteck Technologies Pvt Ltd</div>
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the
              digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
              highway will close the loop on focusing solely on the bottom line.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2014 - October 2015</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Software Developer</h3>
            <div class="subheading mb-3">Evon Technologies</div>
            <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless
              key performance indicators offline to maximise the long tail. Keeping your eye on the ball while
              performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2013 - January 2014</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Graphic Era University</h3>
            <div class="subheading mb-3">Masters of computer application</div>
            <!-- <div>Computer Science - Web Development Track</div> -->
            <p>75%</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2010 - September 2013</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Himalayan Institute of Technology</h3>
            <div class="subheading mb-3">Bachelors of Computer Application</div>
            <p>75.22%</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2007 - September 2010</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-angular"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-github"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gitlab"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <div class="subheading mb-3">Kobe</div>
        <table class="table">
          <tr>
            <th scope="row">About the project</th>
            <td>Kobe is a platform that helps users manage and organize their income and expenses in a way that allows
              them to understand their complete financial picture
            </td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>Understand application requirement Project execution planning, Monitoring, Development and Deployment
            </td>
          </tr>
          <tr>
            <th scope="row">Technology</th>
            <td>Angular 8, C#, ASP.Net Core 2.2, Web API, Mongo DB, JSON, Signalr, Jenga Api, Mpesa integration
            </td>
          </tr>
          <tr>
            <th scope="col">Domain</th>
            <td>Finance
            </td>
          </tr>
          <tr>
            <th scope="row">Responsibility</th>
            <td>Analyzing and participation in requirement gathering discussions with the implementation product.
              Database Designing, writing Queries. Developing Web pages using angular and html
            </td>
          </tr>
          <tr>
            <th scope="row">Acheivements</th>
            <td>Get positive feedback after using & testing by client’s customers. Customers have found all features as
              they can imagine.
            </td>
          </tr>
        </table>

        <div class="subheading mb-3">Servcorp</div>
        <table class="table">
          <tr>
            <th scope="row">About the project</th>
            <td>This application is a platform to help companies buy/sell services and communicate better. The
              application can be used by Company members(end user) to post and search for useful services within
              specific area by making payment with additional services like discussion, forums etc. </td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>Understand application requirement Project execution planning, Monitoring, Development and Deployment
            </td>
          </tr>
          <tr>
            <th scope="row">Technology</th>
            <td>Angular 7, C#, ASP.Net MVC 5.0, Web API, SQL Server 2016, Entity Framework, JQuery, JSON, Signalr,
              Autopilot
            </td>
          </tr>
          <tr>
            <th scope="col">Domain</th>
            <td>Community
            </td>
          </tr>
          <tr>
            <th scope="row">Responsibility</th>
            <td>Analyzing and participation in requirement gathering discussions with the implementation product.
              Database Designing, writing Queries. Developing Web pages using C#.NET, ASP.NET and JavaScript
            </td>
          </tr>
          <tr>
            <th scope="row">Acheivements</th>
            <td>Get positive feedback after using & testing by client’s customers. Customers have found all features as
              they can imagine.
            </td>
          </tr>
        </table>

        <div class="subheading mb-3">Primates</div>
        <table class="table">
          <tr>
            <th scope="row">About the project</th>
            <td>This website related to information about various species found in a particular region. Registered user’s can search taxa details by various parameters like scientific name, common name, family, genus etc. Admin can upload new taxa and managing taxa details. </td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>Understand application requirement Project execution planning, Monitoring, Development and Deployment
            </td>
          </tr>
          <tr>
            <th scope="row">Technology</th>
            <td>C#, ASP.Net 4.0,SQL Server 2012, Entity Framework, JQuery, JSON, Sitefinity CMS.
            </td>
          </tr>
          <tr>
            <th scope="col">Domain</th>
            <td>Enterprise Application
            </td>
          </tr>
          <tr>
            <th scope="row">Responsibility</th>
            <td>Analyzing and participation in requirement gathering discussions with the implementation product.
              Database Designing, writing Queries. Developing Web pages using C#.NET, ASP.NET and JavaScript
            </td>
          </tr>
          <tr>
            <th scope="row">Acheivements</th>
            <td>Get positive feedback after using & testing by client’s customers. Customers have found all features as
              they can imagine.
            </td>
          </tr>
        </table>

        <div class="subheading mb-3">Social Media Broadcast</div>
        <table class="table">
          <tr>
            <th scope="row">About the project</th>
            <td>This website is about posting the content in social media accounts like Facebook, LinkedIn, Twitter. User can also schedule post for future so that content can automatically post on user behalf. </td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>Understand application requirement Project execution planning, Monitoring, Development and Deployment
            </td>
          </tr>
          <tr>
            <th scope="row">Technology</th>
            <td>C#, ASP.Net Mvc 5.0, SQL Server 2014, Entity Framework, JQuery, JSON.
            </td>
          </tr>
          <tr>
            <th scope="col">Domain</th>
            <td>Social Media
            </td>
          </tr>
          <tr>
            <th scope="row">Responsibility</th>
            <td>Analyzing and participation in requirement gathering discussions with the implementation product.
              Database Designing, writing Queries. Developing Web pages using C#.NET, ASP.NET and JavaScript
            </td>
          </tr>
          <tr>
            <th scope="row">Acheivements</th>
            <td>Get positive feedback after using & testing by client’s customers. Customers have found all features as
              they can imagine.
            </td>
          </tr>
        </table>

        <div class="subheading mb-3">Crefx (Commercial Real Estate Finance Exchange)</div>
        <table class="table">
          <tr>
            <th scope="row">About the project</th>
            <td>Crefx is a tool to easily identify capital sources (lenders) and capital searchers (borrowers) for commercial lending projects. It is designed to speed up the lending process by allowing the capital searcher to quickly package their information to a capital provider for screening and prequalification.</td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>Understand application requirement Project execution planning, Monitoring, Development and Deployment
            </td>
          </tr>
          <tr>
            <th scope="row">Technology</th>
            <td>C#, ASP.Net Mvc 4.0, SQL Server 2014, Entity Framework, JQuery, JSON.
            </td>
          </tr>
          <tr>
            <th scope="col">Domain</th>
            <td>Finance
            </td>
          </tr>
          <tr>
            <th scope="row">Responsibility</th>
            <td>Analyzing and participation in requirement gathering discussions with the implementation product.
              Database Designing, writing Queries. Developing Web pages using C#.NET, ASP.NET and JavaScript
            </td>
          </tr>
          <tr>
            <th scope="row">Acheivements</th>
            <td>Get positive feedback after using & testing by client’s customers. Customers have found all features as
              they can imagine.
            </td>
          </tr>
        </table>

        <div class="subheading mb-3">Church Donation</div>
        <table class="table">
          <tr>
            <th scope="row">About the project</th>
            <td>This project is about donating online to churches. The user can register and go for the donation and also user can schedule donation for future. Donation can be categorized into weekly, bi weekly and monthly.</td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>Understand application requirement Project execution planning, Monitoring, Development and Deployment
            </td>
          </tr>
          <tr>
            <th scope="row">Technology</th>
            <td>C#, ASP.Net, SQL Server 2012, Entity Framework, JQuery.
            </td>
          </tr>
          <tr>
            <th scope="col">Domain</th>
            <td>Enterprise Application
            </td>
          </tr>
          <tr>
            <th scope="row">Responsibility</th>
            <td>•	Application logic development.
                •	Programming Business Logic.
                •	Writing SQL queries and Store procedures.
                •	Unit testing, maintenance and Deployments.
                •	Resolving Issues found by QA team                
            </td>
          </tr>
          <tr>
            <th scope="row">Acheivements</th>
            <td>Get positive feedback after using & testing by client’s customers. Customers have found all features as
              they can imagine.
            </td>
          </tr>
        </table>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy my time doing volunteer work like involving in blood donation
          camps, cleanliness drive. During the weekends, I enjoy treking.</p>
        <p class="mb-0">When forced indoors, I am an aspiring chef, and I spend a large amount of my free time exploring
          the latest technology advancements in the web development world.</p>
      </div>
    </section>

    <hr class="m-0">

    <!-- <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Google Analytics Certified Developer</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Mobile Web Specialist - Google Certification</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            2<sup>nd</sup>
            Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            1<sup>st</sup>
            Place - James Buchanan High School - Hackathon 2006</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            3<sup>rd</sup>
            Place - James Buchanan High School - Hackathon 2005</li>
        </ul>
      </div>
    </section> -->

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/assets/js/resume.min.js"></script>

</body>

</html>